
.product-title{
  font-size: 30px;
  font-weight: bolder;

}
.product-image{
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image img {
  max-width: 250px;
  max-height: 250px;
}

.product-price{
  font-size: 25px;
  font-weight: bold;
}
.product-description{
  font-size: 15px;
  max-width: 100%;
}
